[Unit]
Description=Pi HEC runner
After=pi-hec-control.service

[Service]
Type=simple
User=pi-hec-runner
Group=pi-hec-runner
ExecStart=/opt/pi-hec/native/runner/target/release/pi-hec-runner
NoNewPrivileges=true
PrivateTmp=true
UMask=0077

[Install]
WantedBy=multi-user.target
